<table class="table table-fixed w-full">
  <tbody>
  <% posts.each do |post| %>
    <tr class="border-b border-gray-200">
      <td class="p-4 text-gray-600 font-medium"><strong><%= link_to post.title, post %></strong></td>
      <td class="w-20"><%= link_simple 'Edit', edit_post_path(post), class: 'btn-item-action' %></td>
      <td class="w-20"><%= link_simple 'Destroy', post, class: 'btn-item-action', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>