<table class="table table-fixed w-full">
  <tbody>
  <% posts.each do |post| %>
    <tr class="border-b border-gray-200">
      <td class="p-4 text-gray-700 font-medium grid grid-cols-1">
        <span><strong><%= link_to post.title, post %></strong></span>
        <span class="text-xs text-gray-500 mt-2 pl-1">Last updated at: <%= post.updated_at.localtime.strftime '%Y-%m-%d %H:%M:%S' %></span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>