<div class="">
  <%= h1_header 'Home Page' %>
  <p class="py-8 text-base leading-6 space-y-4 sm:text-lg text-gray-900 sm:leading-7">
    Hello. Welcome to Rails tips. An app to concetrate knowledge from the web and my experience.
  Please visit the posts created so far.
  </p>
  <%= link_simple 'Browse posts', posts_path %>
</div>
