<div class="flex bg-blue-700 w-full h-12 shadow-md">
  <div class="self-center m-6">
    <%= link_to 'Home', root_path, class: 'text-white font-bold' %>
  </div>
  <div class="self-center mr-6">
    <%= link_to 'Browse Posts >>', posts_path, class: 'text-white' %>
  </div>
</div>